body{
 height: 645px;
 width: 1265px;
 display: grid;
 grid-template-rows: 180px 110px;
 grid-template-columns: 210px 110px;
}

.menù{
    display: grid;
    background-color: rgb(29, 29, 117);
    grid-row-start: 1;
    grid-row-end: 4;
    justify-content: center;
    z-index: 1;
}
.menù > button{
    border: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 117);
    color: white;
    font-weight: bold;
    font-size: 32px;
}
.menù > button:hover{
    background-color: rgb(18, 133, 168);
}


.header{
    display: grid;
    background-color: rgb(38, 158, 158);
    grid-column-start: 2;
    grid-column-end: 4;
}
.nav-bar{
    height: 20px;
    width: 320px;
    background-color: rgb(170, 162, 162);
    position: absolute;
    left: 40%;
    top: 3%;
    border-radius: 50px;
}