body{
    height: 640px;
 display: grid;
 grid-template-rows: 110px 110px;
 grid-template-columns: 210px 110px;
}

.menù{
    display: grid;
    background-color: rgb(29, 29, 117);
    grid-row-start: 1;
    grid-row-end: 4;
    justify-content: center;
}
.menù > button{
    border: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 117);
    color: white;
    font-weight: bold;
    font-size: 32px;
}
.menù > button:hover{
    background-color: rgb(18, 133, 168);
}